# pip install -r requirements.txt
#pip install 包名 -i https://mirrors.aliyun.com/pypi/simple/

#pip3 install matplotlib -i https://mirrors.aliyun.com/pypi/simple/
#pip3 install numpy==1.18.5 -i https://mirrors.aliyun.com/pypi/simple/

#pip3 install Pillow==7.1.2 -i https://mirrors.aliyun.com/pypi/simple/
#pip3 install PyYAML==5.3.1 -i https://mirrors.aliyun.com/pypi/simple/
#pip3 install requests==2.23.0 -i https://mirrors.aliyun.com/pypi/simple/
#pip3 install scipy==1.4.1 -i https://mirrors.aliyun.com/pypi/simple/
#pip3 install tqdm==4.41.0 -i https://mirrors.aliyun.com/pypi/simple/
#pip3 install tensorboard==2.4.1 -i https://mirrors.aliyun.com/pypi/simple/
#pip3 install pandas==1.1.4 -i https://mirrors.aliyun.com/pypi/simple/
#pip3 install seaborn==0.11.0 -i https://mirrors.aliyun.com/pypi/simple/
#pip3 install thop -i https://mirrors.aliyun.com/pypi/simple/

# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0

# Logging -------------------------------------
tensorboard>=2.4.1
# wandb

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Export --------------------------------------
# coremltools>=4.1  # CoreML export
# onnx>=1.9.0  # ONNX export
# onnx-simplifier>=0.3.6  # ONNX simplifier
# scikit-learn==0.19.2  # CoreML quantization
# tensorflow>=2.4.1  # TFLite export
# tensorflowjs>=3.9.0  # TF.js export

# Extras --------------------------------------
# albumentations>=1.0.3
# Cython  # for pycocotools https://github.com/cocodataset/cocoapi/issues/172
# pycocotools>=2.0  # COCO mAP
# roboflow
thop  # FLOPs computation
